@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*::before,
*::after {
  transition: all 0.1s ease;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}

.container {
  position: relative;
  max-width: var(--max-width);
  width: 100%;
  padding: 100px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}

li {
  list-style: none;
}

button,
a {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-visible {
  opacity: 1;
  transform: translateY(0);
}
